<!DOCTYPE html>
<html>
<body>
    <h1>Xin chao, {{ my_name }}!</h1>
    <p>Server nay dang chay tren he dieu hanh: {{ ansible_distribution }}</p>
    <p>Tong dung luong RAM: {{ ansible_memtotal_mb }} MB</p>
</body>
</html>